body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #60649c;
   
}
.navbar{
    background: linear-gradient(#e66465, #a6abeb);
    /* background-color: #333; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  height: 40px;
  background-color: grey;
}
 .navbar h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  .navbar a {
    text-decoration: none;
    color: rgb(19, 9, 9);
    /*margin: 0 15px;*/
    /*font-size: 16px;*/
  }
  .navbar a.active {
    border-bottom: 2px;
  }
  .nav-item {
    list-style: none;
    display: inline;
  }
   .navbar a:hover {
    border-bottom: 2px solid #032402;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* justify-content: space-between; */
}

li {
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}
.container1 {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.container {
    text-align: center;
    background-color: transparent;
    padding: 30px;
    border-radius: 8px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 400px;
    margin: 20px auto;
    animation: fadeIn 0.5s ease-in-out;
    backdrop-filter: blur(10px);
}

.container2{
    padding: 200px;
    background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.container2 p{
    font-size: 50px;
    color: blue;
    position: relative;
    display: inline-block;
    transition:  0.3s ease-in-out;
}
.container2 p:hover{
    color: #b3b4b8;
}
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #4caf50;
}

button {
background: linear-gradient(90deg, rgba(9,42,59,1) 0%, rgba(173,208,162,0) 100%);
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

.book {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
    animation: fadeIn 0.5s ease-in-out;
}

.book strong {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
   
    bottom: 0;
    width: 98.4%;
    height: 40px;
    }
   

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
